{% extends "layout.html" %}
{% block content %}

<h1>Forget</h1>

{% for key in successes %}
<div class="alert alert-success" role="alert">
    <span class="badge badge-secondary">{{key}}</span> {{successes[key][0]}}
</div>
{% endfor %}

{% for key in errors %}
<div class="alert alert-danger" role="alert">
    <span class="badge badge-secondary">{{key}}</span> {{errors[key][0]}}
</div>
{% endfor %}

<form method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
