@page
@{
	ViewData["Title"] = "Default!";
}

<div class="text-center">
    <h1 class="display-4">Default Form</h1>

	<form action="/Name" method="GET">
		<input type="text" id="name" name="name" >
		<input type="submit" value="send">
	</form>

</div>
